* {
    padding: 0;
    /* border: 0; */
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

hr {
    width: 96px;
    border: 1px solid #1b1b1b;
    margin: 30px auto 30px;
}

.margin-content {
    margin: 0 20vw;
}

.padding-content {
    padding: 0 20vw;
}

.col2 {
    width: 50%;
}

.col3 {
    width: calc(100% / 3);
}