* {
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    font-family: "Lato", sans-serif;
}

.margin-content {
    margin: 0 15pc;
}

.padding-content {
    padding: 0 15pc;
}

.col2 {
    width: 50%;
}

.col3 {

}